@import "variables";

%link-italic {
  font-style: italic;
  font-size: 1.07rem;
}

.act {
  &1 {
    @extend %link-italic;
    background-color: $light-green !important;
  }

  &2 {
    @extend %link-italic;
    background-color: $light-yellow !important;
  }

  &3 {
    @extend %link-italic;
    background-color: $light-pink !important;
  }

  &4 {
    @extend %link-italic;
    background-color: $light-blue !important;
  }
}

.sp {
  margin: 0 10px !important;
}

a {
  color: #000 !important;
  text-decoration: none !important;
  padding: 10px;
}

@media (max-width: 960px) {
  .fn {
    float: none !important;
    width: 100% !important;
    text-align: center;
  }
}